    <%= require('raw-loader!index/header.html') %>

    <title>Ballot</title>
  </head>
  <body>
    <!-- The app hooks into this div -->
    <div id="app"></div>

    <noscript>Please enbale javascript.</noscript>

    <%= require('raw-loader!index/outdated.html') %>
    <script src="<%= htmlWebpackPlugin.files.js.filter((j) => /outdated/.test(j)) %>"></script>
  </body>
</html>
