<!DOCTYPE html><% const { i18n } = htmlWebpackPlugin.options %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <title>Ballot</title>
  </head>
  <body>
    <ul>
<% _.mapValues(i18n, function (val, key) { %>
      <li><a href="<%= key %>.html"><%= val['lang'] %></a></li>
<% }) %>
    </ul>
  </body>
</html>
