    <%= require('raw-loader!index/header.html') %>

    <title>Ballot</title>

  </head>
  <body>
    <!-- The app hooks into this div -->
    <div id="app"></div>

    <%= require('raw-loader!index/outdated.html') %>

    <% if (htmlWebpackPlugin.options.inject) { %>
      <script src="/dll/main.dll.js"></script>
    <% } %>
  </body>
</html>
