<% var key %>
<!DOCTYPE html>
<html lang="en" <% if (htmlWebpackPlugin.files.manifest) { %> manifest="<%= htmlWebpackPlugin.files.manifest %>"<% } %>>
  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8">
    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">

    <title data-i18n="index.htmlTitle">Ballot</title>
  </head>
  <body>
    <%= require('html-loader!./index.html') %>
    <% if (!htmlWebpackPlugin.options.inject) {
      for (key in htmlWebpackPlugin.files.chunks) {
        if (/index/.test(key)) { %>
          <script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
      <% }
      }
    } %>

    <% if (!htmlWebpackPlugin.options.inject) {
      for (key in htmlWebpackPlugin.files.chunks) {
        if (!/index/.test(key)) { %>
          <link rel="prefetch" href="<%= htmlWebpackPlugin.files.chunks[key].entry %>">
      <% }
      }
    } %>
  </body>
</html>
