<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="description" content="Customizable anonymous online balloting system with ring signature authentication.">

    <title data-i18n="htmlTitle">Ballot</title>

  </head>
  <body>

    <svg style="position: absolute; width: 0; height: 0;">
      <defs>
        <linearGradient id="gradient">
          <stop offset="0%" stop-color="#55fabe" />
          <stop offset="100%" stop-color="#1dc8cd" />
        </linearGradient>
      </defs>
    </svg>

    <!--==========================
      Header
    ============================-->
    <header id="header">
      <div class="container">

        <div id="logo" class="pull-left">
          <h1><a href="#intro" class="scrollto"><%- data2 %></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="#intro"><img src="resource/logo.png" alt="" title=""></a> -->
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#intro">xxx</a></li>
            <li><a href="#features">xxx<%- da.ta1 %></a></li>
            <li><a href="#faq">xxx</a></li>
            <li><a href="/app/login">xxx</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </header><!-- #header -->

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">

      <div class="intro-text">
        <h2>xxx</h2>
        <p>xxx</p>
        <a href="#features" class="btn-get-started scrollto" data-i18n="getStarted"></a>
        <a href="/app/login" class="btn-get-started scrollto" data-i18n="signUpNow"></a>
      </div>

    </section><!-- #intro -->

    <main id="main">

      <!--==========================
        Features Section
      ============================-->
      <section id="features">
        <div class="container">

          <div class="row">

            <div class="col-lg-12">
              <div class="section-header wow fadeIn" data-wow-duration="1s">
                <h3 class="section-title">xxx</h3>
                <span class="section-divider"></span>
              </div>
            </div>

            <div class="col-lg-12">

              <div class="row">

                <div class="col-lg-6 col-md-6 box wow fadeInLeft">
                  <h4 class="title">xxx</h4>
                  <p class="description">xxx</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <h4 class="title">xxx</h4>
                  <p class="description">xxx</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInLeft">
                  <h4 class="title">xxx</h4>
                  <p class="description">xxx</p>
                </div>
                <div class="col-lg-6 col-md-6 box wow fadeInRight">
                  <h4 class="title">xxx</h4>
                  <p class="description">xxx</p>
                </div>

              </div>

            </div>

          </div>

        </div>

      </section><!-- #features -->

      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">xxx</h3>
              <p class="cta-text">xxx</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="app/login">xxx</a>
            </div>
          </div>

        </div>
      </section><!-- #call-to-action -->

      <!--==========================
        More Features Section
      ============================-->
      <section id="more-features" class="section-bg">
        <div class="container">

          <div class="section-header">
            <h3 class="section-title">xxx</h3>
            <span class="section-divider"></span>
            <p class="section-description">xxx</p>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <h4 class="title">xxx</h4>
                <p class="description">xxx</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <h4 class="title">xxx</h4>
                <p class="description">xxx</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box wow fadeInLeft">
                <h4 class="title">xxx</h4>
                <p class="description">xxx</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="box wow fadeInRight">
                <h4 class="title" data-i18n="more.userFriendly"></h4>
                <p class="description" data-i18n="more.userFriendly.description"></p>
              </div>
            </div>

          </div>
        </div>
      </section><!-- #more-features -->

      <!--==========================
        Frequently Asked Questions Section
      ============================-->
      <section id="faq">
        <div class="container">

          <div class="section-header">
            <h3 class="section-title">xxx</h3>
            <span class="section-divider"></span>
            <p class="section-description">xxx</p>
          </div>

          <ul id="faq-list">

            <li class="wow fadeInUp">
              <a data-toggle="collapse" class="collapsed" href="#faq1" data-i18n="faq.q1.question"></a>
              <div class="collapse">
                <p data-i18n="faq.q1.answer"></p>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.1s">
              <a data-toggle="collapse" class="collapsed" href="#faq2" data-i18n="faq.q2.question"></a>
              <div class="collapse">
                <p data-i18n="faq.q2.answer"></p>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s">
              <a data-toggle="collapse" class="collapsed" href="#faq3" data-i18n="faq.q3.question"></a>
              <div class="collapse">
                <p data-i18n="faq.q3.answer"></p>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.3s">
              <a data-toggle="collapse" class="collapsed" href="#faq4" data-i18n="faq.q4.question"></a>
              <div class="collapse">
                <p data-i18n="faq.q4.answer"></p>
              </div>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.4s">
              <a data-toggle="collapse" class="collapsed" href="#faq5" data-i18n="faq.q5.question"></a>
              <div class="collapse">
                <p data-i18n="faq.q5.answer"></p>
              </div>
            </li>

          </ul>

        </div>
      </section><!-- #faq -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="footer-links text-center pt-2 pt-lg-0">
              <a class="scrollto" href="#intro">xxx</a>
              <a class="scrollto" href="#features">xxx</a>
              <a class="scrollto" href="#faq">xxx</a>
              <a href="/app/login">xxx</a>
            </nav>
          </div>
        </div>
      </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><%= require('resource/icons/ic_keyboard_arrow_up_black_24px.svg') %></a>

  </body>
</html>
